<block-ui>
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-12">
          <div class="card card-border-primary">
            <div class="card-header">
              <h5>School List </h5>
              <button class="btn btn-primary btn-mini float-right" (click)="openModal(template)"><i
                  class=" icofont icofont-plus "></i> Add New School</button>
            </div>
            <div class="card-block ">
              <div class="row ">
                <div class="col-lg-12 ">
                  <ngx-datatable  #dataTable class="material " [rows]="rows" [loadingIndicator]="loadingIndicator"
                    [columnMode]="ColumnMode.force" [headerHeight]="40" [footerHeight]="50" rowHeight="auto"
                    [externalPaging]="false" [limit]="10">

                    <ngx-datatable-column [width]="20" name="#Sl" prop="id" [draggable]="false" [sortable]="false">
                      <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <span> {{ rowIndex + 1}} </span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [width]="100" name="School Name" prop="title" [draggable]="false"
                      [sortable]="false">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span title="{{ value }}"> {{ value }} </span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [width]="100" name="Address" prop="address" [draggable]="false"
                      [sortable]="false">
                      <ng-template  let-row="row" ngx-datatable-cell-template>
                        <span title="{{ row.address }}"> {{ row.address }} </span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [width]="400" name="Contact Person" prop="contact_person" [draggable]="false" [sortable]="false">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span title="{{ value }}"> {{ value }} </span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [width]="120" name="Action" prop="id" [draggable]="false" [sortable]="false">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        <button class="btn btn-info btn-mini" (click)="getItem(row, template)"><i
                            class="icofont icofont-edit"></i>Edit</button>
                      </ng-template>
                    </ngx-datatable-column>

                  </ngx-datatable>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #template>
    <div class="modal-header ">
      <h4 class="modal-title pull-left " [innerHtml]="modalTitle" id="modalTitle"></h4>
      <button type="button " class="close pull-right " aria-label="Close " (click)="modalHide()">
        <i class="icofont icofont-close"></i>
      </button>
    </div>
    <div class="modal-body ">
      <form [formGroup]="entryForm">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <!-- <h5>Institute Information</h5> -->
              </div>
              <div class="card-block">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label required">School Name </label>
                  <div class="col-sm-9">
                    <input type="text" rows="2" formControlName="title" placeholder="Enter School Name"
                      [ngClass]="{ 'is-invalid': submitted && f.title.errors }" type="text" class="form-control" />

                    <div *ngIf="submitted && f.title.errors" class="error-text">
                      <span *ngIf="f.title.errors.required" class="text-danger"> School is required</span>
                      <span *ngIf="f.title.errors.maxlength" class="text-danger">School must be not more then 550 characters</span>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Details </label>
                  <div class="col-sm-9">
                    <textarea rows="3" type="text" formControlName="details" placeholder="Enter Details"
                      [ngClass]="{ 'is-invalid': submitted && f.details.errors }" class="form-control" ></textarea>
                      <div *ngIf="submitted && f.details.errors" class="error-text">
                        <span *ngIf="f.details.errors.required" class="text-danger"> Details is required</span>
                        <span *ngIf="f.details.errors.maxlength" class="text-danger">Details must be not more then 550 characters</span>
                      </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label required">Address </label>
                  <div class="col-sm-9">
                    <textarea rows="3" type="text" formControlName="address" placeholder="Enter Address"
                      [ngClass]="{ 'is-invalid': submitted && f.address.errors }" class="form-control" ></textarea>
                      <div *ngIf="submitted && f.address.errors" class="error-text">
                        <span *ngIf="f.address.errors.required" class="text-danger"> Address is required</span>
                        <span *ngIf="f.address.errors.maxlength" class="text-danger">Address must be not more then 550 characters</span>
                      </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-3 col-form-label required">Email </label>
                  <div class="col-sm-9">
                    <input type="text" formControlName="email" placeholder="Enter Email"
                      [ngClass]="{ 'is-invalid': submitted && f.email.errors }" class="form-control" />
                    <div *ngIf="submitted && f.email.errors" class="error-text">
                      <span *ngIf="f.email.errors.email" class="text-danger"> Not a valid email format</span>
                      <span *ngIf="f.email.errors.required" class="text-danger"> Email is required</span>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Phone No </label>
                  <div class="col-sm-9">
                      <input type="text" formControlName="phone_no" placeholder="Enter Phone No"
                          [ngClass]="{ 'is-invalid': submitted && f.phone_no.errors }"  class="form-control" />
                      <div *ngIf="submitted && f.phone_no.errors" class="error-text">
                        <span *ngIf="f.phone_no.errors.required" class="text-danger"> Phone No is required</span>
                        <span *ngIf="f.phone_no.errors.maxlength" class="text-danger">Phone No must be not more then 550 characters</span>
                      </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Contact Person Details </label>
                  <div class="col-sm-9">
                      <textarea rows="3" type="text" formControlName="contact_person" placeholder="Enter Contact Person Details"
                      [ngClass]="{ 'is-invalid': submitted && f.contact_person.errors }" class="form-control" ></textarea>
                      <div *ngIf="submitted && f.contact_person.errors" class="error-text">
                        <span *ngIf="f.contact_person.errors.required" class="text-danger"> Contact Person Details is required</span>
                        <span *ngIf="f.contact_person.errors.maxlength" class="text-danger">Contact Person Details must be not more then 550 characters</span>
                      </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Logo</label>
                  <div class="col-sm-9 pt-2">
                    <input type="file" formControlName="logo" (change)="onSelectFile($event)" placeholder="Upload file" accept="image/x-png,image/jpeg" placeholder="Insert file"/>
                    <div *ngIf="submitted && f.logo.errors" class="error-text">
                      <span *ngIf="f.logo.errors.required" class="text-danger"> File is required</span>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Password </label>
                  <div class="col-sm-9">
                      <input type="text" formControlName="password" placeholder="Enter Password"
                          [ngClass]="{ 'is-invalid': submitted && f.password.errors }"  class="form-control" />
                      <div *ngIf="submitted && f.password.errors" class="error-text">
                        <span *ngIf="f.password.errors.required" class="text-danger"> Password is required</span>
                        <span *ngIf="f.password.errors.maxlength" class="text-danger">Password must be not more then 550 characters</span>
                      </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group row text-left">
                      <label class="col-sm-6 col-form-label">Is Active? </label>
                      <div class="col-sm-6 mt-2">
                        <div class="checkbox-fade fade-in-primary">
                          <label>
                            <input type="checkbox" formControlName="is_active">
                            <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <div class="pr-4">
        <button class="btn btn-danger btn-outline-danger mr-2" (click)="modalHide()"> <i
            class="icofont icofont-close"></i> Close</button>
        <button class="btn btn-success btn-outline-success" (click)="onFormSubmit()"><i
            class="icofont icofont-check-circled"></i> {{btnSaveText}}</button>
      </div>
    </div>
  </ng-template>
</block-ui>
