<block-ui>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card-counter success">
          <i class="icofont icofont-check"></i>
          <span class="count-numbers">{{approvedTutor}}</span>
          <span class="count-name">TOTAL COMPLETED CORRECTION</span>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="card-counter warning">
          <i class="icofont icofont-sand-clock"></i>
          <span class="count-numbers">{{pendingTutor}}</span>
          <span class="count-name">TOTAL PENDING CORRECTION</span>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="card-counter danger">
          <i class="fa fa-exclamation"></i>
          <span class="count-numbers">{{suspendTutor}}</span>
          <span class="count-name">TOTAL ACCEPTED CORRECTION</span>
        </div>
      </div>
    <div class="col-md-4">
      <div class="card-counter warning">
        <i class="icofont icofont-clock-time"></i>
        <span class="count-numbers">{{holdTutor}}</span>
        <span class="count-name">TOTAL RE-SUBMISSION</span>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card-counter info">
        <i class="icofont icofont-ui-user-group"></i>
        <span class="count-numbers">{{guardian}}</span>
        <span class="count-name">TOTAL EXPERT</span>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card-counter success ">
        <i class="icofont icofont-ui-user-group"></i>
        <span class="count-numbers">{{hiredTutor}}</span>
        <span class="count-name">TOTAL STUDENT</span>
      </div>
    </div>

    
  </div>
</div>

</block-ui>