<block-ui>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card-counter success">
          <i class="icofont icofont-users"></i>
          <span class="count-numbers">{{approvedTutor}}</span>
          <span class="count-name">TOTAL APPROVED TUTORS</span>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="card-counter warning">
          <i class="icofont icofont-sand-clock"></i>
          <span class="count-numbers">{{pendingTutor}}</span>
          <span class="count-name">TOTAL PENDING TUTORS</span>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="card-counter danger">
          <i class="fa fa-exclamation"></i>
          <span class="count-numbers">{{suspendTutor}}</span>
          <span class="count-name">TOTAL SUSPENDED TUTORS</span>
        </div>
      </div>
    <div class="col-md-4">
      <div class="card-counter warning">
        <i class="icofont icofont-clock-time"></i>
        <span class="count-numbers">{{holdTutor}}</span>
        <span class="count-name">TOTAL ON-HOLD TUTORS</span>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card-counter info">
        <i class="icofont icofont-ui-user-group"></i>
        <span class="count-numbers">{{guardian}}</span>
        <span class="count-name">TOTAL GUARDIANS</span>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card-counter success ">
        <i class="fa fa-check"></i>
        <span class="count-numbers">{{hiredTutor}}</span>
        <span class="count-name">SUCCESSFULLY HIRED TUTORS</span>
      </div>
    </div>

    
  </div>
</div>

</block-ui>